@import "variables"

*
  margin: 0
  padding: 0
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  background-color: $color-very-dark-blue
  display: flex
  align-items: center
  justify-content: center

  height: 98vh

  font-family: 'Overpass', sans-serif
  font-size: 15px
  color: $color-white

  .card-container-1
    background-color: $color-dark-blue
    display: flex
    flex-direction: column

    max-width: 400px

    padding: 20px
    border-radius: 16px

  .stars-container
    display: flex
    justify-content: flex-start
    padding: 20px

    img
      background-color: $color-dark-blue-secondary
      border-radius: 50%
      padding: 15px

      &:hover
        animation: loop 2s infinite forwards

    @keyframes loop
      from
        transform: rotate(0deg)

      to
        transform: rotate(360deg)

  .text-container
    display: flex
    flex-direction: column
    padding: 0 20px

    h1
      font-size: 30px
      font-weight: bold
      margin-top: 10px

    p
      font-size: 15px
      color: $color-light-grey
      margin-top: 10px

  .number-container
    display: flex
    justify-content: center
    align-items: center
    gap: 20px

    margin: 20px 0px
    width: 100%

    button
      display: flex
      align-items: center
      justify-content: center

      color: $color-light-grey
      font-weight: bold
      font-size: 16px

      background-color: $color-dark-blue-secondary
      border-radius: 50%
      border: none

      height: 50px
      width: 50px

      cursor: pointer

      transition: all 130ms ease

      &:hover
        background-color: $color-orange
        color: $color-white

      &:focus
        background-color: $color-light-grey
        color: $color-white

  .btn-submit
    display: flex
    justify-content: center

    button
      width: 90%
      height: 40px

      background-color: $color-orange
      border-radius: 16px
      border: none

      color: $color-white

      cursor: pointer

      transition: all 130ms ease
      text-transform: uppercase

      font-weight: bold
      letter-spacing: 2px

      &:hover
        background-color: $color-white
        color: $color-orange

  .hide
    display: none

  // =======================

    // second page (thank you)

.card-container-2

  background-color: $color-dark-blue
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center

  max-width: 400px

  padding: 20px
  border-radius: 16px

  text-align: center

  img
    width: 14.5rem
    margin-top: 1rem
    margin: 0 auto

  .text
    text-align: center
    margin-bottom: 1.5rem

  .result
    background-color: $color-dark-blue-secondary
    padding: 0.3rem
    border-radius: 1.4rem
    margin-top: 2.4rem
    margin-bottom: 1.4rem

    div
      color: $color-orange
      font-size: 1.1rem

  .reset-btn
    button
      width: 90%
      height: 40px

      background-color: $color-orange
      border-radius: 16px
      border: none

      color: $color-white

      cursor: pointer

      transition: all 130ms ease
      text-transform: uppercase

      font-weight: bold
      letter-spacing: 2px

      &:hover
        background-color: $color-white
        color: $color-orange

.hide
  display: none
